.column__component{
  float: left;
  width: 50%;
  text-align: center;
}

ul {
  position: relative;
  display: inline-block;
}

.btn-6d {
  border: 2px dashed #226fbe;
}

.btn-6d:hover {
  background: transparent;
  color: #226fbe;
}